{
  "singleQuote": true,
  "semi": false,
  "printWidth": 140,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "importOrder": ["^react", "^next", "<THIRD_PARTY_MODULES>", "^@/[./]", "^/[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
